.dialogo-personalizado {
  border: 2px solid white;
  border-radius: 8px; /* Para arredondar as bordas */
  // background-color: #ffffff; /* Fundo branco (opcional) */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
