// * {
//   background-color: red !important;
// }

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.erro-msg {
  color: red;
  margin-top: 8px;
}
