:host {
  @extend .texto-branco !optional;
}

* {
  background-color: rgb(92, 4, 4) !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.texto-branco {
  color: white;

  th, td, p, mat-icon {
    color: white !important;
  }
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.erro-msg {
  color: rgb(92, 4, 4);
  margin-top: 8px;
}

.input-config {
  padding-left: 12px;
}
