* {
  background-color: rgb(92, 4, 4) !important;
}

.lista-container {
  margin: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.texto-vermelho {
  color: red !important;
}

.borda-branhca {
  border: 1px solid white !important;
  border-radius: 4px;
}
