html, body {
  height: 100%;
  margin: 0;
  background-color: #121212;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.texto-branco {
  color: white;

  th, td, p, mat-icon {
    color: white !important;
  }
}
