html, body {
  height: 100%;
  margin: 0;
  color: white;
  background-color: #121212;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.texto-branco {
  color: white;

  th, td, p, mat-icon {
    color: white !important;
  }
}

.titulo-barra {
  background-color: white !important;
  color: rgb(92, 4, 4) !important;
  font-weight: bold;
}

.snackbar-sucesso .mdc-snackbar__surface {
  background-color: white !important;
  color: rgb(92, 4, 4, 0.6) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  justify-content: center !important; /* Centraliza o conteúdo */
  text-align: center !important;
}
