html, body {
  height: 100%;
  margin: 0;
  color: white;
  background-color: #121212;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.texto-branco {
  color: white;

  th, td, p, mat-icon {
    color: white !important;
  }
}

.titulo-barra {
  background-color: white !important;
  color: rgb(92, 4, 4) !important;
  font-weight: bold;
}
